<%- include('partials/header.ejs'); -%>

<body style="background-color: #FEF6C9;">

<div class="px-4 py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/journal-bookmark-fill.svg" alt="" width="72" height="57">
    <h1 class="fw-bold text-body-emphasis mb-4 animate__animated animate__fadeIn" style=" font-family: Merriweather,serif; text-decoration:underline; text-decoration-style: dotted;">
    What Your Library of Books is about ?</h1>
        
    <div class="centralDiv" style=" display: flex;
                                justify-content: center;
                                align-items: center;">
<div class="outerBorder2_about">

    <div class="labels_container_about">
    <p class="" id="title2"></p>
    <div>
            <h4 style="display: inline-block; text-align: center;" class="labels">
                Your Library of Books provides readers with a platform <br>                                                    
                to maintain a detailed record of their reading adventures.<br>                                                   
                Whether users are seasoned bookworms or just embarking <br>                                                    
                on their literary journey, the website caters to their needs.
            </h4>
    </div>
    <br>
    <div>
        <h4 style="display: inline-block; text-align: center;" class="labels">
            To <span style="color:wheat">record</span> a book you have to search up its <span style="color:wheat">ISBN </span>online.<br>
            ISBN aka The International Standard Book Number is  <br>
            a numeric commercial book identifier that can <br>
            uniquely identify any desired book.</h4>
    </div>
    <br>
    <div>
        <h4 style="display: inline-block; text-align: justify;" class="labels">
            With our platform's intuitive interface, users can easily log : 
            <ul style="margin-left: 2.5em;">
                <li><span style="color:wheat">The Books they've read</span></li>
                <li><span style="color:wheat">Rate them according to Preference</span></li>
                <li><span style="color:wheat">Record Completion Date</span></li>
                <li><span style="color:wheat">Leave a detailed Review (50-2000 chars)</span></li>
            </ul>
        </h4>
    </div>
    <br>
    <div>
        <h4 style="display: inline-block; text-align: center;" class="labels">
            Organization is simplified with <span style="color:wheat">sorting</span> options that allow <br>
            users to arrange their collection by <span style="color:wheat">rating, completion <br>
            date, or title</span>, facilitating easy navigation.</h4>
    </div>
    <br>
    <div>
        <h4 style="display: inline-block; text-align: center;" class="labels">
            Recorded data of books can be <span style="color:wheat">edited</span> & complete entries <br>
            of books can be <span style="color:wheat">deleted</span> by hovering on the bottom of specific<br>
            book's img and using the edit button. The option to delete  <br>
            an entry of book is present inside its edit button.</h4>
    </div>
    <br>
    <div>
        <h4 style="display: inline-block; text-align: center;" class="labels">
            Behind the scenes, the platform is supported by a robust <br>
            database, guaranteeing the security and accessibility of <br>
            users' data whenever needed.
    </div>
    <br>
</div>

</div>
</div>

</div>
</body>