

<%- include('partials/header.ejs'); -%>

<body style="background-color: #FEF6C9;">

<div class="px-4 py-5 text-center my-5">
    <img class="d-block mx-auto mb-4" src="/assets/journal-bookmark-fill.svg" alt="" width="72" height="57">
    <h1 class="fw-bold text-body-emphasis mb-4 animate__animated animate__fadeIn" style=" font-family: Merriweather,serif; text-decoration:underline; text-decoration-style: dotted;">
    Resources Used</h1>
        
    <div class="centralDiv" style=" display: flex;
                                justify-content: center;
                                align-items: center;">
<div class="outerBorder2_resources">

    <div class="labels_container_resources">
    <p class="" id="title2"></p>
    <div>
            <h4 style="display: inline-block; text-align: center;" class="labels">
                API used to fetch books: <a href="https://developers.google.com/books " style="color:wheat">Google Books API</a><br>                                                    
            </h4>
    </div>
    <br>
    <div>
        <h4 style="text-align: center;">For Styling </h4>
        <h4 style="display: inline-block; text-align: justify;" class="labels">
            <ul style="margin-left: 2.5em;">
                <li><a style="color:wheat" href="https://getcssscan.com/css-buttons-examples">Buttons</a></li>
                <li><a style="color:wheat" href="https://animate.style/">Animation</a></span></li>
                <li><a style="color:wheat" href="https://coolors.co/">Color Palette</a></span></li>
                <li><a style="color:wheat" href="https://getbootstrap.com/">Layout (header & footer)</a></span></li>
            </ul>
        </h4>
    </div>
    <br>
    <div>
        <h4 style="display: inline-block; text-align: center;" class="labels">
            Database Used : <span style="color:wheat">PostgreSQL</span><br>                                                    
    </div>
    <br>
</div>

</div>
</div>

</div>
</body>

